= render 'shared/side_bar'
.main
  .main__header
    .main__header__group
      .main__header__group__name
        %h2= @group.name
      .main__header__group__member
      - if @group.users
        %p.main__header__group__member__title
          Member :
          - @group.users.each do |user|
            %span= user.name
      - else
        %p メンバーがいません
    =link_to edit_group_path(@group), class: "main__header__edit" do
      %p Edit
  .main__contents
    =render "message", item: @messages
  .main__footer
    = form_for @message, :url => { :controller => :messages, :action => :create } do |f|
      .main__footer__input-box
        = f.text_field :content, placeholder: "type a message"
      .main__footer__image-icon
        = f.label :image, class: "upload-label" do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'hidden'
      = f.submit "Send", class: "main__footer__send-button"
